moserial
moserial.appdata.xml
*~
Makefile
Makefile.in
autom4te.cache
config.log
config.guess
config.h
config.h.in
config.status
config.sub
configure
aclocal.m4
stamp-h1
libtool
ltmain.sh
missing
INSTALL
depcomp
install-sh
compile
*.tar.gz
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
data/moserial.desktop
src/*.[hco]
src/.deps/
src/.dirstamp
src/moserial.vala.stamp
m4/*
po/*.gmo
po/moserial.pot
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
po/Makefile
po/Makefile.in
po/Makefile.in.in
doc/*/.xml2po.mo
doc/*/moserial.xml
doc/*.omf
debian/*
config.sub.dh-orig
config.guess.dh-orig
.flatpak-builder/
repo/
